body {
  background-color: #f2f2f2;
}
*{
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color:#333;
}
// 标题部分
.service-title {
  background-color: #fff;
  padding: 0 20px 0 20px;
  height: 90px;
  .right-icon{
    margin-top: 10px;
    margin-right: 10px;
    height: 45px;
  }
}
.title {
  span{
    display: block;
    height: 80px;
    margin:0px 0 1px 0;
    line-height: 80px;
    font-size:28px;
  }
  img{
    position: relative;
    top:10px;
    height: 35px;
  }
}
// 暂无数据样式
.no-data{
  margin:50px auto;
  text-align: center;
}
// 细胞列表
.cell-img {
  width: 30%;
  margin: 20px 0 20px 20px;
  border: 1px solid #ccc;
  img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
}
// 细胞图片+右边文字样式
.service-cell {
  height: 250px;
  background-color: #fff;

  .index-list-card {
    width: 67%;
    background-color: #fff;
    .index-list-text {
      margin: 20px 0 20px 0;
      color: #a1a1a1;

      .price {
        margin-top: 30px;
        font-size: 30px;
        color: #F05246;
      }
    }

    .van-card__title {
      font-size: 16px;
      margin-top: 15px;
    }
  }
}
// tab栏颜色
.van-tab.van-tab--active {
  color: #036EB8 !important;
}
.van-button--info{
  width: 100%;
}

.van-tabs__line {
  background-color: #036EB8 !important;
}
.van-tab {
  color: #333;
}
// 底部按钮
.bottom-btn{
  width: 100%;
  position: fixed;
  bottom: 0;
  .left-btn{
    width: 29% !important;
    height: 80px;
    background-color: #fff;
    border-top:1px solid #036EB8 !important;
    border-left:1px solid #036EB8 !important;
    border-bottom:1px solid #036EB8 !important;
    /* boder-right:none; */
    text-align: center;
    .van-button--primary{
      border:none;
      color:#036EB8 !important;
    }
    .van-button--primary{
      display: contents;
    }
  }
  .right-btn{
    width: 70.5% !important;
    height: 80px;
    background-color: #036EB8!important;
    text-align: center;
  }
}
// 底部按钮--一个
.back-btn{
  position: fixed;
  bottom:0px;
  width: 100%;
}
.van-button--info{
  background-color: #036EB8!important;
}
// 订单详情--复制订单号样式
.order-detail-cellname {
  height: 150px;
  background-color: #fff;
  padding-top: 20px;

  span {
    margin: 10px 25px;
    display: inline-block;
    font-size: 38px;
  }

  p {
    span {
      font-size: 26px;
      color: #a1a1a1;
    }
  }
  .copy {
    img {
      width: 30px;
      position: relative;
      top: 7px;
      margin-left: 10px;
    }
  }
}
// 设置背景为白色
.backcolor{
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
}
//支付密码样式

.mint-popup-bottom {
  width: 100%;
}
.van-number-keyboard{
  position: absolute;
}
.mint-popup {
  display: block!important;
  z-index: 10000000;
  width: 100%;
}
.van-popup {
  width: 100%;
  height: 320px;
}
.paymentamount{
  text-align: center;
  display: block;
  margin-bottom: 15px;
  margin-top: 15px;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
// .mint-field {
//   margin-bottom: 8px;
// }

input{
  border: none;
  width: 26%;
  float: right;
}
.mint-cell-wrapper {
  background-image: none !important;
}
#disbtn {
  background-color: #ccc;
}

.mint-cell-value span{
  color: #333;
}
// 修改手机号页面的toast显示在遮罩层上方
.zZindex{
  z-index: 3000 !important;
}

// 按钮部分
// 转入转出按钮样式
.scores-btn {
  width: 100%;
  position: fixed;
  bottom: 0;

  .into-btn {
    width: 45%;
    border: 1px solid #036EB8;
    background-color: #fff;
    margin-left: 20px;
    border-radius: 15px;
    text-align: center;

    .van-button--default {
      color: #036EB8;
      border: none;
      height: 42px;
    }
  }

  .out-btn {
    width: 45%;
    margin-right: 20px;

    .van-button--info {
      border-radius: 10px;
    }
  }
}
// 遮罩层
.mint-popup {
  width: 80%;
  border-radius: 5px;
  height: 410px;
  .mint-cell-wrapper {
    border-bottom: 1px solid #f6f6f6;
  }
}