@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1572330325730'); /* IE9 */
  src: url('iconfont.eot?t=1572330325730#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKwAAsAAAAABlQAAAJlAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApcbAE2AiQDCAsGAAQgBYRtBzMblQXILrBt2JMSsXEHFuCGgn/0C3dg8fCx369znyDukSiaRRMkSwzR2q8konWGSoJIyVptN+2GwuVaboF4Z2qfVZkU2sNNjnOTS1kBWjaSjP4KieMrVMEh95WABObBu2ernl8CQv37PNfku9uABpIfaI5VSUWJAxzveQB1Y5Xwxrhh7AKXsJ9AmS4pJUtLG9tQLWMNC8SRyw2ozvllMpYqEYpq5mYvMXIlyUWKwGX4+/irENUk8pSVt3q4aMPMZ2oPaEF20lMK81nBFpFiAsiIzdr4sjLBGGXK4uX6wL6yg8/UfaPYq06wv87KrAAdkH9PAld4q6kEbqupFqB71MeJFp9um/ue7xvp8an55PmuseOx0HD48NhUvXrUc/x7fn61W/fvI3f/n3d9ctt6MzX8/l7RDPBrnX6ev/aUQHD8j1WtaaLq8gy8fLwTivs5KdmTI/gjRfm7g/yBi6x4kqGlcSDRcqaCMmX4hdx1vsaqG0+fDiUaRziLdaZIlRggMvoEcuUmUaTELMqMW15crp5UJrJSjLkECDVekKjyjFSNDyKjfyLX5A9FaqIMZbajbc1yQ+HWzksyFNloHqFriYg5JlUbZW8S3wsMmRWFzF2SiRvCfCZXTC1TRHKOCck+LyjFkEkR4hI4jIJAYCyFR5bKOErFY9ksq7tTxhIh1FokEYNCbMh0BLksQoT5tZXa0vc3EW5PwCBbKmq8u4iUcFtHeRm5HsSyPOpVcS/HJPZxBYrCIEYSQmgJ9CKBgIDi+l4eYlEynBHR2JisXY31lWfWV4Zftw7KWJok7Dap0j2HIs6FqwMAAA==') format('woff2'),
  url('iconfont.woff?t=1572330325730') format('woff'),
  url('iconfont.ttf?t=1572330325730') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1572330325730#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chenggong:before {
  content: "\e603";
}

